body {
  background-color: #000000;
  font-family: monospace;
  font-size: 24px;
  margin: 15px;
  color: White;
}

a.button {
    background-color: black;
    color: black;
    border: none;
}

a.button:hover {
    background-color: #110000;
}
